<div id="footer">
  <div class="row">
    <div class="col-xs-3">
      <div class="navbar-wagon-brand text-center">
        <%= image_tag "logo.png"%>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="text-center">
        <h4><strong>Suivez-nous</strong></h4>
        <%= link_to "https://www.facebook.com/Anenke-711425232348397/?fref=ts" do %>
          <i class="fa fa-facebook fa-3x" aria-hidden="true" style="padding: 5px 30px 0 0;"></i>
        <% end %>
        <%= link_to "https://twitter.com/Anenke3D" do %>
          <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="text-center">
        <h4><strong>Contactez-nous</strong></h4>
        <h5>contact@anenke.com</h5>
        <h5>0689741389</h5>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="text-center">
        <h4><strong>Aide</strong></h4>
        <%= link_to cgv_path do %>
          <h5 style="color:white">CGV</h5>
        <% end %>
        <%= link_to mentionslegales_path do %>
         <h5 style="color:white">Mentions légales</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
