<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(<%= image_url 'homepage.jpg' %>); background-position: center center;">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-2">
      <%= image_tag("bouche.png", size: "300") %>
    </div>
    <div class="col-xs-5">
      <h1 style="font-family: 'Roboto', sans-serif;">Anenke produit des appareils orthodontiques amovibles entièrement imprimés en 3D.</h1>
    </div>
  </div>
</div>

<div class="wrapper-colored">
  <div class="container text-center h2">
    <h2><strong> Bénéfices </strong></h2>
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag "plus.png", class: "sized-picto" %>
        <div class="dashedline" style="margin: 10px 0px"></div>
        <h4>Une précision jamais atteinte, une qualité et un confort inédits.</h4>
      </div>
      <div class="col-xs-4">
        <%= image_tag "microscope.png", class: "sized-picto" %>
        <div class="dashedline" style="margin: 10px 0px"></div>
        <h4>2 ans de R&D en partenariat avec des spécialistes mondiaux de l'impression 3D au MIT.</h4>
        <div class="dashedline"></div>
        <h4>Résines biocompatibles certifiées.</h4>
      </div>
      <div class="col-xs-4">
        <%= image_tag "garantie.png", class: "sized-picto" %>
        <div class="dashedline" style="margin: 10px 0px"></div>
        <h4>Garantie et service : en cas de problème, nous remplaçons votre appareil.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag "prix.png", class: "sized-picto" %>
        <div class="dashedline" style="margin: 10px 0px"></div>
        <h4>Des appareils moins chers grâce à une technologie innovante.</h4>
      </div>
      <div class="col-xs-4">
        <%= image_tag "livraison.png", class: "sized-picto" %>
        <div class="dashedline" style="margin: 10px 0px"></div>
        <h4>Livraison en 5 jours partout en France métropolitaine..</h4>
      </div>
      <div class="col-xs-4">
        <%= image_tag "durable.png", class: "sized-picto" %>
        <div class="dashedline" style="margin: 10px 0px"></div>
        <h4>Développement durable, économe en matière.</h4>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container text-center h2">
    <h2><strong> Comment ça marche ? </strong></h2>
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag "envoie.png", class: "sized-picto" %>
        <div class="dashedline" style="margin: 10px 0px"></div>
        <h4>Envoi de l'empreinte 3D et de la prescription via WeTransfer.</h4>
      </div>
      <div class="col-xs-4">
        <%= image_tag "conception.png", class: "sized-picto" %>
        <div class="dashedline" style="margin: 10px 0px"></div>
        <h4>Conception et impression de l'appareil choisi.</h4>
      </div>
      <div class="col-xs-4">
        <%= image_tag "livraison2.png", class: "sized-picto" %>
        <div class="dashedline" style="margin: 10px 0px"></div>
        <h4>Livraison en 5 jours ouvrés.</h4>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-colored">
  <div class="container h2">
    <h2 class="text-center"><strong> L'équipe </strong></h2>
    <div class="row">
      <div class="col-xs-6">
        <div class="text-center"> <%= image_tag "dan.png", class: "badge-round text-center" %> </div>
        <h4 class="text-center"><strong> Dan Benarouch</strong></h4>
      </div>
      <div class="col-xs-6">
        <h4>Chirurgien dentiste, orthodontie exclusive. Travaille en libéral dans un cabinet. Master 2 en imagerie médicale. Chargés de TP dans le service d’Orthodontie de la Pitié Salpêtrière. Dan est Président d'Anenke, en charge de la R&D et du Produit</h4>
      </div>
    </div>
    <div class="dashedline" style="margin: 20px"></div>
    <div class="row">
      <div class="col-xs-6">
        <div class="text-center"> <%= image_tag "delphine.png", class: "badge-round text-center" %> </div>
        <h4 class="text-center"><strong> Delphine Majbruch</strong></h4>
      </div>
      <div class="col-xs-6">
        <h4>Chirurgien dentiste, orthodontie exclusive. Travaille en libéral dans un cabinet. Master 2 en imagerie médicale. DU d’Orthodontie Linguale Adulte 2015. Chargés de TP dans le service d’Orthodontie de la Pitié Salpêtrière. Delphine est contributrice clinique à Anenke</h4>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container text-center h2">
    <h2 class="text-center"><strong> Les produits </strong></h2>
    <div class="row">
      <div class="col-xs-3">
        <div class="text-center"> <%= image_tag "hawley.jpg", class: "badge-round-large text-center" %> </div>
        <h4><strong>Plaque de Hawley</strong></h4>
        <h4>50 euros</h4>
      </div>
      <div class="col-xs-3">
        <div class="text-center"> <%= image_tag "plaqueaverin.jpg", class: "badge-round-large text-center" %> </div>
        <h4><strong>Plaque palatine à vérin</strong></h4>
        <h4>50 euros</h4>
      </div>
      <div class="col-xs-3">
        <div class="text-center"> <%= image_tag "eln.jpg", class: "badge-round-large text-center" %> </div>
        <h4><strong>Enveloppe Linguale Nocturne</strong></h4>
        <h4>70 euros</h4>
      </div>
      <div class="col-xs-3">
        <div class="text-center"> <%= image_tag "hyperpropulseur.jpg", class: "badge-round-large text-center" %> </div>
        <h4><strong>Hyperpropulseur</strong></h4>
        <h4>70 euros</h4>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-colored" style="margin: 0px 0px 30px 0px">
  <div class="container h2">
    <h2 class="text-center"><strong>Interessé ? Inscrivez-vous</strong></h2>
    <% resource = User.new %>
    <% resource_name = :user %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class="col-xs-6 inputs">
          <%= f.input :first_name, label: "Votre prénom", required: true %>
        </div>
        <div class="col-xs-6 inputs">
          <%= f.input :last_name, label: "Votre nom", required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 inputs">
          <%= f.input :email, label: "Votre email", required: true %>
        </div>
        <div class="col-xs-6 inputs">
          <%= f.input :telephone, label: "Votre téléphone", required: false %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 inputs">
          <%= f.input :password, label: "Votre mot de passe", required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length) %>
        </div>
        <div class="col-xs-6 inputs">
          <%= f.input :password_confirmation, label: "Votre mot de passe de nouveau", required: true %>
        </div>
      </div>
      <div class="text-center">
        <%= f.button :submit, "Créer mon compte", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
